.ipynb_checkpoints
work 
notizen.md
tagebuch 
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.vrb
*.check.js
*.synctex.gz
.idea/workspace.xml
.idea/workspace.xml
*.code-workspace
*Untitled*
test.py
*quellen.md
/solutions